/* Reset */

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Medium.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-MediumItalic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-BoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: auto;
    scrollbar-gutter: stable;
}


body {
    background: #121212;
    font-family: JetBrainsMono, monospace;
    color: #eee;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: left;
    padding: 10px 20px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80px;
}

.github {
    position: absolute;
    top: 40px;
    right: 100px;
    height: 40px;
}

.linkedin {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 95vw;
    max-width: 1600px;
    height: 80vh;
    margin-top: 70px;
}

/* Box shared styles */
.box {
    background: #1f1f1f;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition:
        transform 0.3s cubic-bezier(0.4,0,0.2,1),
        box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px 3px #9c8efb;
}

/* Grid positioning */
.box-render {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    font-size: 4.2rem;
    font-weight: 700;
}

.box-about {
    grid-column: 5 / span 2;
    grid-row: 2 / span 2;
    font-size: 2.8rem;
    font-weight: 700;
}

.box-pipeline {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    font-size: 1.8rem;
    font-weight: 600;
}

.box-tooldev {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    font-size: 1.8rem;
    font-weight: 600;
}

.box-nextsteps {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Container for About Me page */
.about-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 70px;
    max-width: 1600px;
}

/* Text box, scales width of text using flex */
.about-text {
    flex: 1;
}

.portfolio-text.box,
.about-text.box {
    border: none;
    cursor: default;
    transition: none;
    font-size: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.portfolio-text-double.box:hover,
.portfolio-text.box:hover,
.about-text.box:hover {
    transform: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.about-photo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Photo styling */
.about-photo img {
    width: 100%;
    max-width: 530px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 70px;
    max-width: 1600px;
}

.portfolio-text-double.box {
    border: none;
    cursor: default;
    transition: none;
    font-size: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
    grid-column: 1 / span 2;
}

.portfolio-photo img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    .about-container {
        flex-direction: column;
    }

    .box-render,
    .box-nextsteps,
    .box-about,
    .box-pipeline,
    .box-tooldev {
        grid-column: auto !important;
        grid-row: auto !important;
    }

    .box {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }
    .about-text.box {
        font-size: 0.5rem;
    }

}
